*{
    /* Del tamaño del width resta el padding y el border */
    box-sizing: border-box;
    /* resetear completamente los valores de padding y margin que agrega el navegador */
    padding: 0;
    margin: 0;
}

main{
    width: 100%;
    height: 500px;
    border: 10px solid gray;
    padding: 20px 35px;
}