.main-nav{
    margin-top: 10px;
    list-style: none;
    
    /* Padding es un espacio interno en un contenedor */
    padding-left: 0;
    background-color: rgba(13, 30, 92, 0.535);
}

.main-nav__item{
    display: inline-block;
}

.main-nav__item a{
    border-radius: 2px;
    text-decoration: none;
    background-color: red;
    padding: 3px;
}

/* psudoclases */
.main-nav__item a:hover{
    color: white;
}

.main-nav__item a:active{
    background-color: hotpink;
    color: black;
}

/* pseudoelemento */
.main-nav__item a::after{
    content: " | ";
}
