<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1>Aca va el logo</h1>
        </div>
        <ul class="nav">
            <li>Home</li>
            <li>Cursos</li>
            <li>Home</li>
            <li>Cursos</li>
        </ul>
    </header>

    <aside>
        <!-- <div class="parent"> -->
            <div class="box" id="one"></div>
            <div class="box" id="two"></div>
            <div class="box" id="three"></div>
            <div class="box" id="four"></div>
        <!-- </div> -->
    </aside>

    <section>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti rem sequi distinctio facere. Nam soluta nulla ipsam, magni voluptates nostrum laudantium aut dignissimos assumenda asperiores maiores pariatur, voluptatem eveniet ea!
        Cumque ea nam pariatur distinctio vitae magni excepturi illum assumenda iusto eaque? Est pariatur autem cupiditate aut laboriosam natus, provident adipisci repellendus consequuntur quas ratione inventore illo odio unde vitae?
        Quisquam consequatur sequi dolorum iusto sed corporis facere nobis error cumque minus iure, autem aperiam eos consequuntur et dicta animi at. Sint, dolorem? Debitis aliquam, asperiores harum reiciendis omnis quia.
        Expedita itaque fugit magnam rerum eius omnis ex fuga libero? Omnis nulla explicabo reiciendis commodi sed, quis illum velit magnam soluta maiores excepturi eum corporis ad dolor numquam officiis voluptatibus.
        Voluptatem quasi atque corporis veritatis praesentium numquam quidem architecto, laudantium alias repellendus officiis impedit eligendi dolores nulla, accusantium corrupti deleniti ipsam in sint ducimus rem nobis culpa ad labore. Omnis.</p>
    </section>
    <footer>
        <div class="about"></div>
        <div class="opciones"></div>
    </footer>
</body>
</html>